html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #002000;
    width: 100vw; /* Add this line to make the div cover the entire screen width */
}
.container-body {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    height: 85vh;
    background-color: transparent;
    width: 100vw; /* Add this line to make the div cover the entire screen width */
}
.container-body-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: transparent;
    width: 50vw; /* Add this line to make the div cover the entire screen width */
}

.responsive-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta la imagen para que cubra el contenedor sin distorsión */
}

.container-body-texto {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;
    height: 85vh;
    background-color:  transparent;
    width: 50vw; /* Add this line to make the div cover the entire screen width */
}

.container-body-texto-nombre {
    display: flex;
    justify-self: center;
    align-items: end;
    height: 37.5vh;
    background-color:  transparent;
    width: 50vw; /* Add this line to make the div cover the entire screen width */
}

.container-body-texto-nombre h1 {
    width: 100vw;
    font-size: 3vw;
    font-size: 6vh;
    color: #FBFBFB;
    text-align: left;
    margin: 0;
    padding: 1vw;  
}

.container-body-texto-titulo {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 17.5vh;
    background-color:  transparent;
    width: 50vw; /* Add this line to make the div cover the entire screen width */
}

.container-body-texto-titulo h2 {
    width: 100vw;
    font-size: 2.5vw;
    font-size: 5vh;
    color: #F3F4F3;
    text-align: left;
    margin: 0;
    padding: 1vw;
    padding-right: 6vw;
}

.container-body-texto-descripcion {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 25vh;
    background-color:  transparent;
    width: 50vw; /* Add this line to make the div cover the entire screen width */
}


.container-body-texto-descripcion h3 {
    width: 100vw;
    font-size: 1.25vw;
    font-size: 2.5vh;
    color: #E3E6E3;
    text-align: left;
    margin: 0;
    padding: 1vw;  
}

.container-body-texto-cv {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 20vh;
    background-color:  transparent;
    width: 50vw;
}

/* Estilo para la parte derecha del encabezado */
.container-body-texto-cv a {
    background-color: #00ff00; /* Color de fondo del botón */
    color: #002000; /* Color del texto del botón */
    text-decoration: none; /* Quita el subrayado del enlace */
    align-content: center;
    padding: 1vh 2vw; /* Espaciado interno del botón */
    border-radius: .5vw; /* Bordes redondeados del botón */
    font-size: 1.5vw; /* Ajusta el tamaño de la fuente del botón */
    font-weight: bold;
    height: 4vh;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Transición suave */
}

.container-body-texto-cv a:hover {
    transform: scale(1.1); /* Agranda ligeramente el botón al pasar el ratón */
}
.container-footer {
    display: flex;
    justify-self: start;
    align-items: center;
    height: 10vh;
    background-color: yellow;
    width: 100vw; /* Add this line to make the div cover the entire screen width */
}

@media (max-width: 840px) {
    .container-body {
        flex-direction: column;
        height: 90vh; /* Cambia la dirección del flex a columna */
    }

    .container-body-imagen {
        width: 100vw; /* Cada contenedor cubre todo el ancho de la pantalla */
        height: 45vh; /* Cada contenedor cubre la mitad de la altura de la pantalla */
    }
    .container-body-texto {
        width: 100vw; /* Cada contenedor cubre todo el ancho de la pantalla */
        height: 45vh; /* Cada contenedor cubre la mitad de la altura de la pantalla */
    }
    .container-body-texto-nombre {
        height: 12.5vh;
        justify-self: center;
        align-items: center;
        width: 100vw; /* Add this line to make the div cover the entire screen width */
    }
    .container-body-texto-titulo {
        height: 10vh;
        width: 100vw; /* Add this line to make the div cover the entire screen width */
        align-items: center;
    }
    .container-body-texto-descripcion {
        height: 15vh;
        width: 100vw;
        align-items: center; /* Add this line to make the div cover the entire screen width */
    }
    .container-body-texto-cv {
        height: 7.5vh;
        width: 100vw;
        align-items: center; /* Add this line to make the div cover the entire screen width */
    }
    .container-body-texto-nombre h1 {
        text-align: center;
        font-size: 2.5vw;
        font-size: 5vh;
    }
    .container-body-texto-titulo h2 {
        text-align: center;
        font-size: 2vw;
        font-size: 4vh;
    }
    .container-body-texto-descripcion h3 {
        text-align: center;
        font-size: 1vw;
        font-size: 2vh;
    }
    .container-body-texto-cv a {
        font-size: 1vw;
        font-size: 2vh;
    }

}
/* Estilos generales para el contenedor del encabezado */
.container-head {
    display: flex;
    justify-self: start;
    align-items: center;
    height: 15vh;
    background-color: transparent;
    width: 100vw; /* Hacer que el div cubra el ancho completo de la pantalla */
    
}
.container-head  a{
    text-decoration: none;
    
}

/* Estilo para la parte izquierda del encabezado */
.container-head-left {
    width: 25vw;
    font-size: 1.5vw;
    font-size: 3vh;
    
    color: #00ff00;
    text-align: left;
    margin: 0;
    padding: 5vw;
}

.container-head-left-inicio {
    width: 25vw;
    font-size: 2vw;
    font-size: 4vh;
    font-weight: bold;
    color: #00ff00;
    text-align: left;
    margin: 0;
    padding: 5vw;
}
.container-head-right{
    width: 25vw;
    text-align: left;
    margin: 0;
    padding: 5vw;
}


/* Estilo para la parte derecha del encabezado */
.container-head-right a {
    display: inline-block; /* Permite aplicar padding y otras propiedades de botón */
    background-color: #00ff00; /* Color de fondo del botón */
    color: #002000; /* Color del texto del botón */
    text-decoration: none; /* Quita el subrayado del enlace */
    padding: 1vh 2vw; /* Espaciado interno del botón */
    border-radius: .5vw; /* Bordes redondeados del botón */
    font-size: 2vw; /* Ajusta el tamaño de la fuente del botón */
    font-weight: bold;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Transición suave */
}

.container-head-right a:hover {
    transform: scale(1.1); /* Agranda ligeramente el botón al pasar el ratón */
}





/* Estilo para la parte central del encabezado */
.container-head-middle {
    display: flex;
    flex-direction: row;
    width: 50vw;
    background-color: transparent;
    color: #00ff00;
    margin: 0;
    padding: 0;
}

/* Estilo para la parte derecha de la parte central del encabezado */
.container-head-middle-right {
    width: 50vw;
    font-size: 1.5vw;
    font-size: 3vh;
    font-weight: bold;
    color: #00ff00;
    text-align: right;
    background-color: transparent;
    margin: 0;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-right: 1.5vw;
}

/* Estilo para la parte izquierda de la parte central del encabezado */
.container-head-middle-left {
    width: 50vw;
    font-size: 1.5vw;
    font-size: 3vh;
    font-weight: bold;
    color: #00ff00;
    background-color: transparent;
    text-align: left;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 1.5vw;

}

/* Estilos para el select simulado */
.custom-select {
    display: none;

}

.select-selected {
    background-color: transparent;
    color: #00ff00;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 2.5vh;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: transparent;
    color: #00ff00;
    border: 1px solid transparent;
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    width: 100%;
    display: none;
    z-index: 99;
}

.select-items .select-option {
    padding: 10px;
    cursor: pointer;
}

.select-items .select-option:hover {
    background-color: #008000;
    opacity: 0.7;
}

/* Ocultar los elementos del select cuando no están activos */
.select-hide {
    display: none;
}

/* Mostrar el dropdown cuando se pase el ratón sobre el select */
.custom-select:hover .select-items {
    display: block;
}

@media (max-width: 840px) {
    .container-head {
        height: 10vh;

    }
    .container-head-left {
        font-size: 1.5vw;
        font-size: 2.5vh;
        padding: 3vw;
    }
    .container-head-right {
        font-size: 1.5vw;
        font-size: 2.5vh;
        
        text-align: right;
    }
    .container-head-right a {

        font-size: 1vw;
        font-size: 2vh; 
        
    }
    .container-head-middle {
        display: none;
    }
    .custom-select {
        position: relative;
        display: inline-block;
        width: 50vw; /* Ajustar el ancho según sea necesario */
    }
    .container-head-left-inicio {
        font-size: 2vw;
        font-size: 4vh;
 
    }
    .container-body-texto-titulo h2 {
  
        padding-right: 0vw;
    }
    
}


.container-body-estudios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #002000;
    width: 50vw; /* Add this line to make the div cover the entire screen width */
}	


.container-body-estudios-educacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color:  transparent;
    width: 50vw; /* Add this line to make the div cover the entire screen width */
    
}
.container-body-estudios-educacion-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37.5vh;
    background-color: #00ff00;
    width: 45vw; /* Add this line to make the div cover the entire screen width */
    border-radius: 10px;
    margin-left: 2.5vw;
    

}

    .container-body-estudios-educacion-contenido-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
    width: 45vw;
    
    }

    .container-body-estudios-educacion-contenido-titulo h1 {
        width: 100vw;
        font-size: 2vw;
        font-size: 4vh;
        color: #002000;
        text-align: center;
        margin: 0;
        padding: 1vw;  
    }
    .container-body-estudios-educacion-contenido-cuerpo{
        display: flex;
        
        flex-direction: column;
        align-items: center;
        height: 30vh;
        width: 45vw;
        overflow: auto;
        }
        /* Personaliza la barra de desplazamiento */
        .container-body-estudios-educacion-contenido-cuerpo::-webkit-scrollbar {
            width: 2vw;
        }

        .container-body-estudios-educacion-contenido-cuerpo::-webkit-scrollbar-track {
            
            background-color: #00ff00; /* Color de fondo de la barra de desplazamiento */
        }

        .container-body-estudios-educacion-contenido-cuerpo::-webkit-scrollbar-thumb {
            background:#00ff00 url('marciano.webp') no-repeat;
            background-size:100% auto;  
            height:50%; 
            background-position: center; /* Centra el fondo dentro del thumb */
            
        }

        .container-body-estudios-educacion-contenido-cuerpo::-webkit-scrollbar-thumb:hover {
            background:#00ff00 url('marciano2.webp') no-repeat;
            background-size:100% auto;  
            height:50%; 
            background-position: center; /* Centra el fondo dentro del thumb */
            
        }


        .container-body-estudios-educacion-contenido-cuerpo-contenedor {
            display: flex;
            
            flex-direction: column;
            height: 100vh;
            width: 40vw;
            background-color: #00df00;
            border-radius: 10px;
            margin: .5vw .5vw;
           
        }

        .container-body-estudios-educacion-contenido-cuerpo-contenedor-titulo {
            display: flex;
            justify-content: start;
            align-items: center;
            height: auto;
            width: 40vw;

        }

        .container-body-estudios-educacion-contenido-cuerpo-contenedor img {
            width: auto;
            height: 6vh;
            margin: 0vh 1vw;
            
            
        }

        .container-body-estudios-educacion-contenido-cuerpo-contenedor h2 {
            width: 37vw;
            font-size: 1.5vw;
            font-size: 3vh;
            color: #002000;
            align-items: center;
            
            justify-content: center;
            
            
            
        }
        .container-body-estudios-educacion-contenido-cuerpo-contenedor-cuerpo {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            height: auto;
            width: 40vw;

        }
        .container-body-estudios-educacion-contenido-cuerpo-contenedor h3 {
            width: 39vw;
            font-size: 1.2vw;
            font-size: 2.4vh;
            color: #002000;
            text-align: start;
            margin: 0;
            padding: .5vh 1vw;  
            
        }
        .container-body-estudios-educacion-contenido-cuerpo-contenedor h4 {
            width: 39vw;
            font-size: 1.2vw;
            font-size: 2.4vh;
            color: #002000;
            text-align: start;
            margin: 0;
            padding: .5vh 1vw;  
            
        }
        .container-body-estudios-educacion-contenido-cuerpo-contenedor p {
            width: 39vw;
            font-size: 1vw;
            font-size: 2vh;
            color: #002000;
            text-align: start;
            margin: 0;
            padding: .5vh 1vw;  
            padding-bottom: 1.5vh;
            
        }



.container-body-estudios-certificaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color:  #002000;
    width: 50vw; /* Add this line to make the div cover the entire screen width */
} 
.container-body-estudios-certificaciones-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37.5vh;
    background-color: #00ff00;
    width: 45vw; /* Add this line to make the div cover the entire screen width */
    border-radius: 10px;
    margin-left: 2.5vw;
    

}
.container-body-estudios-certificaciones-contenido-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
    width: 45vw;
    
    }

    .container-body-estudios-certificaciones-contenido-titulo h1 {
        width: 100vw;
        font-size: 2vw;
        font-size: 4vh;
        color: #002000;
        text-align: center;
        margin: 0;
        padding: 1vw;  
    }
    .container-body-estudios-certificaciones-contenido-cuerpo{
        display: flex;
        
        flex-direction: column;
        align-items: center;
        height: 30vh;
        width: 45vw;
        
        overflow: auto;
        }
                /* Personaliza la barra de desplazamiento */
        .container-body-estudios-certificaciones-contenido-cuerpo::-webkit-scrollbar {
            width: 2vw; /* Ancho de la barra de desplazamiento */
            
            
        }

        .container-body-estudios-certificaciones-contenido-cuerpo::-webkit-scrollbar-track {
            background-color: #00ff00; /* Color de fondo de la barra de desplazamiento */
        }

        .container-body-estudios-certificaciones-contenido-cuerpo::-webkit-scrollbar-thumb {
            background:#00ff00 url('marciano.webp') no-repeat;
            background-size:100% auto;
            height:50%; 
            background-position: center; /* Centra el fondo dentro del thumb */

            
        }

        .container-body-estudios-certificaciones-contenido-cuerpo::-webkit-scrollbar-thumb:hover {
            background:#00ff00 url('marciano2.webp') no-repeat;
            background-size:100% auto;  
            height:50%; 
            background-position: center; /* Centra el fondo dentro del thumb */
            
        }


    .container-body-tecnologias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
        background-color: #002000;
        width: 50vw; /* Add this line to make the div cover the entire screen width */
    }

    .container-body-tecnologias-contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 45vw;
        margin-right: 2.5vw;
        background-color: #00ff00;
        border-radius: 10px;
        overflow: hidden; /* Esconde cualquier contenido que se salga del contenedor */
    }
    .container-body-tecnologias-contenido-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 45vw;
        background-color: transparent;
    }
    .container-body-tecnologias-contenido-titulo h1 {
        font-size: 2vw;
        font-size: 4vh;
    }
    .container-body-tecnologias-contenido-cuerpo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 45vw;
        overflow: auto;
        background-color: transparent;
    }
    .container-body-tecnologias-contenido-cuerpo-contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 23.33vh;
        width: 45vw;
        background-color: transparent;
        width: 100%; /* O el ancho que desees para el contenedor visible */
        overflow: hidden; /* Esconde cualquier contenido que se salga del contenedor */
        position: relative; 
        
        
    }
    .container-body-tecnologias-contenido-cuerpo-titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8.33vh;
        width: 45vw;
        background-color: transparent;
    }
    .container-body-tecnologias-contenido-cuerpo-titulo h2{
        font-size: 1.5vw;
        font-size: 3vh;
    }
    .container-body-tecnologias-contenido-cuerpo-logos {
        display: flex;
        overflow: hidden;
        width: 45vw; /* Duplicar el ancho del contenedor para permitir el desplazamiento */
        height: 15vh;
        
    
    }
    .container-body-tecnologias-contenido-cuerpo-logos-grupos {
        display: flex;
        width: 90vw;
        height: 15vh;
        animation: move 10s linear infinite; /* Animación de desplazamiento */
    }
    .container-body-tecnologias-contenido-cuerpo-logos-group {
        display: flex;
        width: 45vw; /* Duplicar el ancho del contenedor para permitir el desplazamiento */
        height: 15vh;
        align-items: center;
    }

    .container-body-tecnologias-contenido-cuerpo-logos img{
        width: 6vw;
        display: flex;
        justify-content: center;
        height: auto;
        padding: 0vh 2.5vw;
    }

    @keyframes move {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }