body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;

}

header {    
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    background-color: #000;
    color: #fff;
}
/* Inicializa el header fuera de la vista */
#header {
    position: relative; /* Asegura que puedas animarlo sin afectar su posición dentro del flujo */
    transform: translateY(-100px); /* Empieza 100px arriba */
    opacity: 0; /* Oculta el header inicialmente */
    animation: slideDown 1s ease-out forwards; /* Define la animación */
}

/* Define la animación */
@keyframes slideDown {
    to {
        transform: translateY(0); /* Termina en su posición original */
        opacity: 1; /* Se hace visible */
    }
}
.header-inicio {
    display: flex;
    height: 10vh;
    width: 20%;
    justify-content: start;
    align-items: end;
    padding-left: 5%;
}
.header-inicio h2 {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    
}
.header-menu {
    display: flex;
    height: 10vh;
    width: 60%;
    justify-content: center;
    align-items: end;
}
.header-menu ul {
    display: flex;
    list-style: none;
    width: 50%;
    margin: 0;
    padding: 0;
}
.header-menu ul li {
    width: 100%;
    text-align: center;
}
.header-menu ul li a {
    text-decoration: none;
    color: #fff;
}
.header-menu ul li h3 {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}
.header-contacto {
    display: flex;
    height: 10vh;
    width: 20%;
    justify-content: end;
    align-items: end;
    padding-right: 5%;
}
.header-contacto button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 5px 12px;
    cursor: pointer;
}
.header-contacto h3 {
    margin: 0;
    padding: 0;
    font-size: 1.1.8em;   
}
.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 70vh;
    width: 90%;
    background-color: #000; 
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    overflow: hidden;
}
.inicio-saludo,
.inicio-profesion,
.inicio-descripcion {
    opacity: 0;
    position: relative;
}

/* Animación para el saludo: entra desde la izquierda */
.inicio-saludo {
    animation: slideInLeft 1s ease-out forwards;
}

/* Animación para la profesión: entra desde la derecha */
.inicio-profesion {
    animation: slideInRight 1s ease-out forwards;
    animation-delay: 0.5s; /* Inicia después de 0.5s */
}

/* Animación para la descripción: entra desde abajo */
.inicio-descripcion {
    animation: slideInUp 1s ease-out forwards;
    animation-delay: 1s; /* Inicia después de 1s */
}

/* Definiciones de animaciones */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%); /* Comienza fuera de la vista a la izquierda */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* Llega a su posición original */
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%); /* Comienza fuera de la vista a la derecha */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* Llega a su posición original */
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%); /* Comienza fuera de la vista abajo */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Llega a su posición original */
        opacity: 1;
    }
}

.inicio-saludo {
    display: flex;
    height: 30vh;
    justify-content: start;
    align-items: end; 
}
.inicio-saludo h2 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    color: #00ff00;
}
.inicio-profesion {
    display: flex;
    height: 10vh;
    justify-content: start;
    align-items: center;
}
.inicio-profesion h1 {
    margin: 0;
    padding: 0;
    font-size: 5.6em;
}
.inicio-descripcion {
    display: flex;
    height: 25vh;
    justify-content: start;
    align-items: start;
    padding-top: 3%;
}
.inicio-descripcion h2 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
}
.proyectos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 95vh;
    width: 90%;
    background-color: #000;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;

}




.proyectos-titulo {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: start;
    align-items: center;
    opacity: 0;
    position: relative;
}
.proyectos-titulo {
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 1.1s;
}

.proyectos-titulo h2{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
}

.proyecto_1 {
    display: flex;
    flex-direction: row;
    height: 42vh;
    width: 100%;
    justify-content: start;
    align-items: start;
}
.proyecto_1-imagen{
    display: flex;
    flex-direction: column;
    height: 42vh;
    width: 45%;
    justify-content: start;
    align-items: start;
    
}
.proyecto_1-imagen-imagen{
    display: flex;
    height: 37vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.proyecto_1-imagen-imagen img {
    width: 65%;
    opacity: 0; /* Oculta la imagen inicialmente */
    transform: translateX(-100%); /* Comienza fuera de la vista a la izquierda */
    animation: slideInImage 1s ease-out forwards; /* Aplica la animación */
    animation-delay: 1.45s; /* Ajusta el tiempo para que coincida con otras animaciones */
}

/* Definición de la animación */
@keyframes slideInImage {
    to {
        transform: translateX(0); /* Llega a su posición original */
        opacity: 1; /* Se hace visible */
    }
}
.proyecto_1-imagen-fecha{
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: start;
    align-items: start;
}
.proyecto_1-imagen-fecha h3{
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}
.proyecto_1-texto{
    display: flex;
    flex-direction: column;
    height: 42vh;
    width: 55%;
    justify-content: center;
    align-items: center;
    
}
.proyecto_1-texto h2{
    font-size: 2.2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.proyecto_1-texto-titulo{
    display: flex;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.proyecto_1-texto-hidden {
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(-20px); /* Mueve hacia arriba para el efecto */
    max-height: 0; /* Oculta el contenido */
    overflow: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease, max-height 0.5s ease; /* Animaciones suaves */
    text-align: justify;
}

.proyecto_1-texto h3{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    }
    

.proyecto_1-texto:hover .proyecto_1-texto-hidden {
    opacity: 1; /* Aparece gradualmente */
    transform: translateY(0); /* Se posiciona en su lugar */
    max-height: 27vh; /* Expande la altura */
}
/* Animación desde la izquierda */
.animar-izquierda {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease-out;
}

.animar-izquierda.activa {
    opacity: 1;
    transform: translateX(0);
}

/* Animación desde la derecha */
.animar-derecha {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease-out;
}

.animar-derecha.activa {
    opacity: 1;
    transform: translateX(0);
}

.animar-debajo {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-out;
}

.animar-debajo.activa {
    opacity: 1;
    transform: translateY(0);
}



.proyecto_2 {
    display: flex;
    flex-direction: row;
    height: 42vh;
    width: 100%;
    justify-content: start;
    align-items: start;
}
.proyecto_2-texto{
    display: flex;
    flex-direction: column;
    height: 42vh;
    width: 55%;
    justify-content: center;
    align-items: center;
    
}
.proyecto_2-texto h2{
    font-size: 2.2em;
    margin: 0;
    padding: 0;
}
.proyecto_2-texto-titulo{
    display: flex;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.proyecto_2-texto-hidden {
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(-20px); /* Mueve hacia arriba para el efecto */
    max-height: 0; /* Oculta el contenido */
    overflow: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease, max-height 0.5s ease; /* Animaciones suaves */
    text-align: justify;
}

.proyecto_2-texto h3{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    }
    

.proyecto_2-texto:hover .proyecto_2-texto-hidden {
    opacity: 1; /* Aparece gradualmente */
    transform: translateY(0); /* Se posiciona en su lugar */
    max-height: 27vh; /* Expande la altura */
}
.proyecto_2-imagen{
    display: flex;
    flex-direction: column;
    height: 42vh;
    width: 45%;
    justify-content: center;
    align-items: center;
    
}
.proyecto_2-imagen-imagen{
    display: flex;
    height: 37vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.proyecto_2-imagen-imagen img{
    width: 65%;
}
.proyecto_2-imagen-fecha h3{
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}
.proyecto_2-imagen-fecha{
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: end;
    align-items: end;
}
.linea {
    display: flex;
    height: 1vh;
    width: 100%;
    background-color: #00ff00;
}
.contacto {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 85vh;
    width: 90%;
    background-color: #000;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
}
.contacto-titulo {
    display: flex;
    height: 20vh;
    width: 100%;
    justify-content: start;
    align-items: center;
}
.contacto-titulo h2{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
}
.contacto-contenido{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    justify-content: start;
    align-items: start;
}
.contacto-contenido-contacto {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    align-items: center;
}
.contacto-contenido-contacto h3{
    margin: 0;
    padding: 0;
    font-size: 2.3em;
}
.contacto-contenido-contacto img{
 height: 45%;
 padding-right: 1%;
}
.contacto-mensaje {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.contacto-mensaje h3{
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: #000;
    color: #fff;
}
.footer-fin {
    display: flex;
    height: 14vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer h6 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    
}
footer a {
    text-decoration: none;
    color: #fff;
}